@CHARSET "ISO-8859-1";
TD, TH {text-align:center}
.btn-group-info .dropdown-menu {
  background-color: #4ebbdb !important;
  }
  #calendarTable {
  
    border-spacing: 10px 50px;
    font-family: verdana,arial,sans-serif;
	font-size:20px;
	color:#333333;
	-moz-border-radius:20px;
	border-collapse: collapse;
 	background: #707070;
	border-radius:20px;
	padding: 20px;
}